mkdocs==1.4.3
mkdocs-i18n==0.4.6
mkdocs-enumerate-headings-plugin==0.6.1
mkdocs-mermaid2-plugin
mkdocs-glightbox==0.3.4
mkdocs-git-revision-date-localized-plugin==1.2.0
mkdocs-awesome-pages-plugin==2.9.2
